:root {
    --supadu-teal: #0b8383;
    --dark-slate-grey-5: #295d65;
    --grey: #7e7b7b;
    --dark-slate-grey-3: #3d3d3d;
    --dim-grey: #505050;
    --silver-2: #bebebe4a;
    --shadow: #0000000a;
    --white: white;
    --dark-slate-grey-4: #0e4949;
    --azure: #d9e5e5;
    --sea-green: #098360;
    --silver: #bebebe;
    --light-sea-green: #47b1a5;
    --dark-slate-grey: #06262d;
    --cadet-blue: #47a3b1;
    --cadet-blue-2: #42aab0;
    --cadet-blue-3: #42aab0;
    --dim-grey-2: #505050;
    --cadet-blue-4: #75c9ce;
    --powder-blue: #a3d2d8;
    --steel-blue: #1e8eb4;
    --crimson: #d30f55;
    --lynx-white: white;
    --black: black;
    --white-smoke: #f1f1f1;
    --lynx-grey: #797c83;
    --lynx-black: #1f2022;
    --dark-slate-grey-2: #06262d80;
    --black-2: #1b1b1b80;
    --lavender: #d0d8e8;
    --gainsboro: #dfdfdf;
    --lynx-medium-purple: #8979ec;
}
